*{
    margin: 10px;
    padding: 10px;
}
body{
    background-color: beige;
}
h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: yellow;
    background-color: rgb(202, 202, 202);
}
p{
    font-size: 20px;
    color: rgb(255, 98, 35);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
    text-align: center;
}
